.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*{
    box-sizing: border-box;
    margin: 0%;
}

article{
    width: 100%;
    /* border: 2px solid red; */
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
}

.caracteres{
    background-color: hsl(244, 38%, 16%);
    height:450px ;
    flex: 35%;
    /* border: 2px solid blue; */
    margin-left: 15%;
    text-align: center;
}

.caracteres-insights{
    color: hsl(277, 64%, 61%);
    font-weight: bold;
}

